<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="search" href="/search">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload" href="/upload">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inference" href="/inference">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Inference</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
