<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Usuário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload" href="/tabs/upload">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Imagens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report" href="/tabs/report">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
