<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="upload" href="/tabs/upload">
      <ion-icon aria-hidden="true" name="cloud-upload-outline"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="report" href="/tabs/report">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
