<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chatbot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <!-- Message list -->
    <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.user === 'me', 'bot-message': message.user === 'bot'}">
      <ion-item>
        <ion-label>
          <p>{{ message.text }}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <!-- Input area -->
  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Type your message..."
          [(ngModel)]="newMessage"
          (keyup.enter)="sendMessage()">
        </ion-input>
        <ion-button expand="block" (click)="sendMessage()">
          Send
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-content>
